.Login {
    text-align: center;
    font-family: Arial, sans-serif;
    background-image: url('https://images.ctfassets.net/4f3rgqwzdznj/2G1txF5Ysk36JJALT3dT1z/5ad43bec15469ccb8d5799ae6d6ed68f/GettyImages-1145760927.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 100vw;
    height: 100vh;
  }
  
  .Login-header {
    background-color: #f8f3f3;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .account-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .account-box {
    width: 200px;
    height: 180px;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid #0d0d0d;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease; /* Smooth transition */
  }
  
  .account-box:hover {
    transform: scale(1.1); /* Scale up on hover */
  }
  
  .account-box.selected {
    border-color: #007bff;
  }
  
  
  .account-box img {
    width: 130px;
    height: auto;
    border-radius: 10px;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 300px;
    margin: 0 auto;
    text-align: left;
  }
  
  .login-form p {
    text-align: center;
  }
  
  .login-form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-footer a {
    color: #007bff;
  }
  
  .form-footer button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-footer button:hover {
    background-color: #0056b3;
  }
  
  .App-footer {
    margin-top: 20px;
  }
  
  .App-footer a {
    color: #007bff;
  }