.find-medicine-page {
  font-family: Arial, sans-serif;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.find-medicine-container {
  background-color: rgb(151, 188, 225);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  text-align: center;
  margin: 70px auto;
}

.find-medicine-header h1 {
  margin: 0;
  font-size: 24px;
  color: black;
}

.find-medicine-search-bar-container {
  position: relative;
}

.find-medicine-search-bar {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.find-medicine-clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: #00796b;
}

.find-medicine-suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #979694;
}

.find-medicine-suggestions li {
  padding: 10px;
  color: white;
  cursor: pointer;
}

.find-medicine-active-suggestion {
  background-color: #00796b;
}

.find-medicine-dosages {
  text-align: center;
  margin-top: 20px;
}

.find-medicine-dosage-item {
  margin-bottom: 10px;
}

.find-medicine-placeholder {
  text-align: center;
  margin-top: 50px;
}

.find-medicine-placeholder .placeholder-image {
  width: 500px;
  height: 300px;
  object-fit: cover;
  
}

.find-medicine-footer p {
  font-size: 14px;
  color: #00796b;
  margin: 0;
  padding: 10px 0;
}
