body{
  width: 100%;
  height: 100%;
}
.listbody{
    font-family: Arial, sans-serif;
    background: url('https://images.axios.com/Yx6dtgEObGRWe2muwu9WEJJ0jsY=/0x0:1920x1080/1920x1080/2024/07/25/1721927919368.jpg') no-repeat center center fixed; /* Adjust the path as needed */
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .create-list-container {
    margin-left: 300px;
    margin-top: 30px;
    background-color: rgba(215, 202, 207, 0.9); /* Semi-transparent background */
  border-radius: 10px;
  box-shadow: 0 0 60px rgba(208, 33, 33, 0.1);
  padding: 30px;
  width: 55vw; /* Fixed width: 80% of the viewport width */
  min-height: 70vh; /* Fixed height: 60% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Optional: to limit the max width on very large screens */
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
    color: #00796b;
  }
  
  .list-search-bar {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .list-suggestions {
   
    list-style-type: none;
   
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(221, 245, 227);
  }
  
  .list-suggestions li {
    padding: 10px;
    cursor: pointer;
  }
  
  .selected-medicines {
    margin-top: 20px;
    text-align: left;
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .medicine-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .medicine-item span {
    flex-grow: 1;
  }
  
  .medicine-item select {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .quantity-controls button {
    background-color: #00796b;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quantity-controls span {
    margin: 0 5px;
  }
  
  .search-button {
    background-color: #00796b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 60px;
  }
  
  .search-results {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
  }
  
  .search-results li {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .search-results h3 {
    margin: 0;
  }
  
  footer p {
    font-size: 14px;
    color: #00796b;
    margin-top: 20px;
  }
  