.tabs {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 10px 0;
  margin-top: 64px; /* Height of the AppBar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 50px;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #a7e1f1;
}

.active {
  border-bottom: 2px solid #1976d2;
}

.icon {
  display: block;
  font-size: 24px;
}
